<div class="grid lg:grid-cols-3 justify-center items-center w-full h-full py-20">
    <div class="col-start-1 col-end-3 px-4 text-xl leading-8">
        {{ content }}
    </div>
    <div aria-label="right column " class="col-start-3 w-full bg-themeSecondary-600 rounded-xl  shadow-lg shadow-black ">
        {{ if !no_results }}
            {{ personalia }}
                {{ glide :src="profile_image" }}
                    <img src="{{ url }}" class="p-2 w-full h-full rounded-2xl grayscale">
                    <span class="text-xs">{{ description }}</span>
                {{ /glide }}
            {{ /personalia }}
        {{ /if }}
        <div class="flex flex-col w-full p-2">
            {{ personalia }}
                <ul class="overflow-hidden flex flex-col rounded-md h-52 w-full h-full bg-themeSecondary-800 px-2 leading-loose text-white text-base lg:text-lg">
                    <li>{{ name }}</li>
                    <li>{{ date_of_birth }} ({{ date_of_birth | years_ago }} years)</li>
                    <li>{{ occupation }}</li>
                    <li>{{ location }}</li>
            {{ /personalia }}
            <hr class="border-b-2 border-themePrimary-400 blur-xs drop-shadow-xl shadow-white">
            {{ if !no_results }}
                {{ personalia }}
                    <div class="flex justify-start items-center w-full h-full gap-5 py-2">
                        <a aria-label="Link to email" href="mailto:{{ email }}">{{ svg src="mail" class="w-12 h-12 hover:pointer" }}</a>
                        <a aria-label="Link to instagram" href="{{ some }}">{{ svg src="instagram" class="w-10 h-10 hover:pointer" }}</a>
                    </div>
                {{ /personalia }}
            {{ /if }}
        </div>
    </div>
</div>