    <img src="{{ glide:background_image }}" alt="{{ alt }}" class="w-full fixed h-full opacity-20 rounded-sm object-cover -z-10" />

<div class="flex justify-center items-center w-full h-screen">
    <div class="flex flex-col justify-center items-center w-full">
        <div>
            <h1 class="flex self-center w-full justify-center text-center text-2xl uppercase top-0">{{ news }}</h1>
        </div>
        <div class="flex flex-row justify-center self-center items-center w-full h-auto">
            <button class="w-10 h-10" id="slide-arrow-prev">
                {{ svg src="arrowPrev" }}
            </button>
            <div class="box-border w-80 h-1/2 m-auto sm:m-0 p-4 rounded-sm">
                {{ partial:partials/common/slider }}
            </div>
            <button class="w-10 h-10" id="slide-arrow-next">
                {{ svg src="arrowNext" }}
            </button>
        </div>
    </div>
</div>

