<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title ?? site:name }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
</head>
<body class="antialiased bg-themeTertiary-500 font-sans leading-normal text-gray-800 box-border h-screen">
  {{ partial:partials/common/header }}
  <div class="w-full lg:m-auto lg:max-w-6xl text-white pt-20 h-auto relative">
    {{ template_content }}
  </div>
  {{ partial:partials/common/footer }}
  <script src="{{ mix src='/js/site.js' }}"></script>
</body>
</html>