<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title ?? site:name }}</title>
  <link rel="icon" type="image/png" sizes="50x50" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ mix src='/css/tailwind.css' }}">
</head>
<body class="antialiased  bg-pink-400 font-sofia leading-none text-gray-800 box-border h-screen">
  {{ partial:partials/common/header }}
  <div class="w-full lg:m-auto lg:max-w-6xl text-white pt-20 h-auto relative py-20">
    {{ template_content }}
  </div>

  {{ partial:partials/common/footer }}
  <script src="{{ mix src='/js/site.js' }}"></script>
</body>
</html>