<div aria-label="Image: {{ title }}" class="js-individual-image flex flex-col self-center lg:h-80 border-none shadow-none rounded-md hover:rotate-3 hover:bg-themePrimary-400 hover:shadow-slate-800 hover:ease-in-out hover:shadow-lg duration-300 hover:shadow-black hover:transition-transform transition-shadow overflow-hidden">
    <div class="flex flex-col p-4 w-full lg:h-80  grayscale hover:grayscale-0 flex-shrink-0">
        {{ glide :src="image" width="220px" height="auto" fit="crop_focal" }}
            <img loading="proactive" src="{{ url }}" alt="{{ title }}" loading="lazy" class="antialiased lg:w-[220px] lg:min-h-[220px] aspect-auto rounded-sm object-cover" />
        {{ /glide }}
        <ul class="flex flex-col items-center items-end justify-end w-full h-full overflow-hidden">
            <li class="text-sm uppercase">
                {{ title }}
            </li>
        </ul>
    </div>

</div>