<!-- JS PREVIEWER -->
<div role="dialog" aria-modal="true" aria-labelledby="Label" aria-label="previewer" class=" js-previewer hidden fixed top-0 left-0 z-10 w-screen h-screen overflow-hidden">
    {{ partial:partials/components/previewer }}
</div>
<!-- IMAGE CARD -->
<div class="flex relative">
    <div class="js-image h-full flex flex-col self-center border-none shadow-none rounded-md hover:rotate-3 hover:bg-themePrimary-400  hover:shadow-slate-800 hover:ease-in-out hover:shadow-lg duration-300 hover:shadow-black hover:transition-transform transition-shadow">
        <div class="p-4 w-full h-80 grayscale hover:grayscale-0">
            {{ glide :src="image" width="auto" height="full" }}
                <img loading="proactive" src="{{ url }}" alt="{{ alt }}" class="w-auto h-max lg:w-full lg:h-full rounded-sm object-cover" />
            {{ /glide }}
        </div>
        <div class="w-full h-full sm:w-52 sm:h-2/5">
            <ul class="flex flex-col items-center w-full h-full overflow-hidden">
                <li class="text-sm uppercase">
                    {{ title | safe_truncate:13:... }}
                </li>
            </ul>
        </div>
    </div>
</div>