<div class="flex flex-col gap-5 rounded-2xl bg-gradient-to-r from-themePrimary-400 overflow-hidden">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 place-content-center">
    {{ taxonomy:portfolio }}
      <div class="{{ last_segment === slug ? 'bg-pink-400 hover:bg-violet-400' : 'hover:bg-pink-400' }} transition-all ease-in-out self-center items-center w-full h-80 rounded-b-none hover:shadow-sm hover:shadow-slate-700 ">
        <a href="{{ url }}" class="text-center w-full h-80">
          <div class="w-full h-80 grayscale hover:grayscale-0">
            <div class="w-full h-4/5 p-4 grayscale hover:grayscale-0">
              {{ entries }}
                <img src="{{ glide:featured_image }}" alt="{{ alt }}" class="img rounded-sm w-full h-full object-cover" />
              {{ /entries }}
            </div>
            <div class="flex flex-col gap-2 px-4 h-1/5">
              <span class="text-lg text-center uppercase font-medium">{{ title | safe_truncate:13:... }}</span>
            </div>
          </div>
        </a>
      </div>
    {{ /taxonomy:portfolio }}
  </div>
</div>