@import "site";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Archivo Narrow", system-ui, sans-serif !important;
        font-family: Proxima Nova, system-ui, sans-serif;
    }
}
@font-face {
  font-family: 'SofiaSansCondensed';
  src: url('/fonts/SofiaSansCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaSansCondensed';
  src: url('/fonts/SofiaSansCondensed-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
