<header class="top-0 z-10 fixed flex-row w-full lg:max-w-6xl m-auto lg:left-0 lg:right-0 h-30 bg-themePrimary-400 shadow-black shadow-md rounded-b-2xl">
  <nav aria-label="Main Navigation" class="relative w-full h-20 grid grid-cols-2 bg-theme-secondary">
    <div class="col-start-1 col-end-2 flex flex-row w-full justify-start items-center">
      <a href="/" aria-label="Back to home" class="flex items-center">
        <img src="{{ logo:site_logo }}" alt="{{ alt }}" class="flex justify-center w-20 h-auto" />
        <h1 class="uppercase text-2xl font-semibold">Metaforentzen</h1>
      </a>
    </div>
    <div class="col-start-2 col-end-3 flex flex-row items-center justify-end">
      {{ nav:header }}
        {{ if icon == !no_results }}
          <div class="{{ if !last }}m-0 {{ else }} mx-4{{ /if }}">
            <a aria-label="Navigate to {{ title }}" href="{{ url }}">
              {{ svg aria-hidden="true" src="{{icon}}" class="w-12 h-12 hover:fill-white" }}
            </a>
          </div>
        {{ /if }}
      {{ /nav:header }}
    </div>
  </nav>
</header>